.body {
    width: 256px;
    margin: auto;
    margin-top: 128px;
}

.body_header {
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    line-height: 10px;
}

.links {
    font-family: 'Source Serif Pro', serif;
    font-size: 125%;
    line-height: 10px;
}

.links_small {
    font-family: 'Source Serif Pro', serif;
    font-size: 90%;
    line-height: 10px;
    font-family:  'Ubuntu Mono', monospace;
}

.description {
    float: right;
}

.icons {
    text-align: center;
    word-spacing: 20px;
}

.icon_img {
    width: 36px;
    height: 36px;
}

.icon_img_inline {
    width: 22px;
    height: 22px;
    float: right;
}

.icon_img_table {
    float: right;

}

.icon_img_table img {
    width: 28px;
    height: 28px;
}


.right {
    float: right;
}

.left {
    float: left;
}

#header_img {
    width: 50%;
    height: 50%;
    /* Prevent image blurring */
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

hr {
    height: 1px; 
    background: black;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    text-align: center;
}

.about {
    width: 512px;
    margin: auto;
    margin-top: 90px;
}

.about_body {
    font-family: 'Source Serif Pro', serif;
    font-size: large;
    line-height: 26px;
}

.content {
    width: 832px;
    margin: auto;
    margin-top: 90px;
}

.content_body {
    font-family: 'Source Serif Pro', serif;
    font-size: large;
    line-height: 26px;
}

.embed_img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 45%;
    height: 45%;
    border-radius: 6px;
    text-align: center;
}

.image_row {
    text-align: center;
    word-spacing: 30px;
}

.project_row {
    width: 100%;
    /* border: 1px solid #dddddd; */
    font-family: 'Ubuntu Mono', monospace;
    font-size: 100%;
    padding: 8px;
}

.project_name {
    padding-left: 22%;
}

.project_date {
    float: left;
}

.project_icons {
    text-align: center;
}

.project_icons img {
    width: 28px;
    height: 28px;
}