.jumbotron {
    text-align: center;
}

#homeScreen {
    text-align: center;
    width: 25%;
    margin:auto;
}

#homeScreen button {
    text-align: center;
}

#scheduleBuilder {
    text-align: center;
    margin: auto;
}

#scheduleDisplay {
    text-align: center;
    margin:auto;
    width: 50%;
}

table {
    text-align: center;
    margin: auto;
}

.custom-checkbox {
    margin-top: 5px;
}

.btn {
    margin-right: 10px;
}

.schedule-row {
    text-align: left;
}

.form-check-input{
    right: 45%;
    bottom: 50%;
    cursor: pointer;
}

.col-form-label {
    text-align: left;
}

#taskPopup {
    border: 2px solid grey;
    border-radius: 25px;
    width: 50%;
    margin: auto;
}

#scheduleBuilder {
    width: 75%;
}

#scheduleBuilderTable {
    width: 50%;
}

#settingsTable {
    width: 50%;
}

#scheduleBuilderTitle {
    width: 600px;
    margin: auto;
}

.urgent {
    cursor: pointer;
}