<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <title>{{ name }} | Projects | Musa Haydar </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" href="../images/Moon_Sprite_Big.png">
    </head>
    <body>
        <div class="about">
            <div class="body_header">
                <h1>{{ name }}</h1>
                <hr/>
            </div>
            <div class="about_body">
                <div class="project_icons">
                    {% for icon in icons %}
                    <img src="{{ icon.path }}" title="{{ icon.title }}">
                    {% endfor %}
                </div>
                <p>
                    {{ body }}
                </p>
                <br/>
                <div class="links">
                    <p><a href="../projects.html">Return</a></p>
                </div>
                <br/>
                {% if links | length > 0 %}
                <p><b>Links:</b></p>
                <div class="links_small">
                    {% for i in range(links | length) %}
                    <p><a href="{{ links[i].url }}" target="_blank">[{{i}}] {{ links[i].text }}</a></p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <br/>
			<br/>
            <br/>
        </div>
    </body>
</html>